*
{
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
}

html,
body
{
    
    background: #1e1a20;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.row {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #1e1a20; /* Add a background color for better visibility */
    padding-left: 10%;
    padding-right: 10%;
}

h3{
    padding-top: 1em;
    font-size: 5vmin;
    color: #7c6dee;
}
h4{
    padding-top: 1em;
    font-size: 3vmin;
    color: #e5d4ed;
}

.nav{
    padding-top: 1%;
}

.col {
    flex: 1;
}

h1 a {
    font-family: 'Cabin', sans-serif;
    text-decoration: none; /* Remove underlines from links */
    color: #ffeded; /* Set link color */
    font-size: 2.8vmin;
}
.container {
    margin-top: 2em;
    font-family: 'Cabin', sans-serif;
    position: relative;
    color: #ffeded; /* Set link color */
    font-size: 7vmin;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
  }


  .container p{
    font-size: 3vmin;
    padding-top: 2em;

  }

  .container a{
    color: #ffeded; /* Set link color */
    
  }

.section
{
    display:inline-grid;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.projects-section{
    padding-left: 30%;
}

.section h1,
.section h2 {
    margin-bottom: -2.5em; /* place itms closer */
}

.about p {
    text-transform: none;
    width: 60%; 
    font-size: 3vmin;
    margin-bottom: -4.5em; /* place itms closer */
}


.projects-section p {
    text-transform: none;
    width: 100%; 
    font-size: 3vmin;
    margin-bottom: -4.5em; /* place itms closer */
}

.contact p {
    text-transform: none;
    width: 60%; 
    font-size: 3vmin;
    margin-bottom: -4.5em; /* place itms closer */
}



.section a{
    color: #ffeded;
}

/* Button */
.section button {
    width: 20%; /* Adjust the width as needed */
    max-width: 200px; /* Set a maximum width if necessary */
    height: 5vh; /* Adjust the height as needed */
    color: #ffffff;
    border-radius: 12px;
    border-color: #ffffff;
    background-color: #1e1a20;
    font-size: 2vmin;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
}

.container button {
    width: 20%; /* Adjust the width as needed */
    max-width: 200px; /* Set a maximum width if necessary */
    height: 5vh; /* Adjust the height as needed */
    color: #ffffff;
    border-radius: 12px;
    border-color: #ffffff;
    background-color: #1e1a20;
    font-size: 2vmin;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
}

button a{
    text-decoration: none; /* Remove underlines from links */
}

.section button:hover {
    background: #7c6dee;
    color: #1e1a20;
  }

  .container button:hover {
    background: #7c6dee;
    color: #1e1a20;
  }

section:nth-child(odd)
{
    justify-content: flex-end;
}

