*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    
    background: #1e1a20;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display:grid;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}


/* Button */
.section button {
    width: 20%; /* Adjust the width as needed */
    max-width: 200px; /* Set a maximum width if necessary */
    height: 5vh; /* Adjust the height as needed */
    color: #ffffff;
    border-radius: 12px;
    border-color: #ffffff;
    background-color: #1e1a20;
    font-size: 2vmin;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    margin-top: -18em; /* place itms closer */
}

.section button:hover {
    background: #ffffff;
    color: #1e1a20;
  }

.section h1,
.section h2 {
    margin-bottom: -2.5em; /* place itms closer */
}

.section p {
    text-transform: none;
    width: 50%; 
    font-size: 3vmin;
    margin-top: -1.5em; /* place itms closer */
}

section:nth-child(odd)
{
    justify-content: flex-end;
}